@model List<AccountsModel>

@{
    var accountModel = new AccountsModel
        {
            person_code = (int)ViewData["PersonCode"]
        };
}

<div class="text-center">
    <h1 class="display-4">Accounts</h1>

    <p>
        View and manage your account details, including personal information, settings, and preferences, all in one place.
    </p>
    <br></br>

</div>

<button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#CreateAccountModal">Create Account</button>

@await Html.PartialAsync("_CreateAccountModal", accountModel)

<table class="table table-striped">
    <thead>
        <tr>
            <th>Account Number</th>
            <th>Outstanding Balance</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var account in Model)
    {
        <tr>
                <td>@account.account_number</td>
                <td>@account.outstanding_balance</td>
                <td class="d-flex gap-2">
                    @* <i class="bi bi-eye"></i> *@
                    <a href="@Url.Action("Transactions", "Transactions", new { accountCode = account.code })" class="btn btn-primary">
                        View Transactions
                    </a>

                    <form action="@Url.Action("Delete", "Accounts", new { accountCode = account.code })" method="post">
                        @Html.AntiForgeryToken()
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
    }
    </tbody>
</table>
