@model List<PersonsModel>

<div class="text-center">
    <h1 class="display-4">Persons</h1>

    <p>
        This page provides a comprehensive view of individuals and their details. Easily update personal information, review account history, and track all transactions associated with their accounts, ensuring complete oversight and efficient management.
    </p>
    <br></br>

</div>

<button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#CreatePersonModal">Create New Person</button>

<br></br>
@await Html.PartialAsync("_CreatePersonModal", new PersonsModel())

<table class="table" id="personsTable">
    <thead>
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>ID Number</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var person in Model)
{
    <tr>
                <td>@person.name</td>
                <td>@person.surname</td>
                <td>@person.id_number</td>
                <td class="d-flex gap-2">
                    <a href="@Url.Action("Accounts", "Accounts", new { personCode = person.code })" class="btn btn-primary">
                        View Account
                    </a>

                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#UpdatePersonModal_@person.code">Edit Person</button>

                    <form action="@Url.Action("Delete", "Persons", new { personCode = person.code })" method="post">
                        @Html.AntiForgeryToken()
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>

    @await Html.PartialAsync("_UpdatePersonModal", person)
}
    </tbody>
</table>

<script>
    $(document).ready(function () {
        $('#personsTable').DataTable({
            "paging": true,
            "searching": true,
            "ordering": true,
            "pageLength": 10,
            "lengthMenu": [10, 25, 50, 100]
        });
    });
</script>