@model List<TransactionsModel>

@{
    var transactionModel = new TransactionsModel
            {
                account_code = (int)ViewData["AccountCode"]
            };
}


<div class="text-center">
    <h1 class="display-4">Transactions</h1>

    <p>
        Easily and securely complete your transactions on our platform. Whether you're making a purchase or sending funds, our user-friendly page ensures fast, safe, and reliable processing every time.
    </p>
    <br></br>

</div>

<button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#CreateTransactionModal">Create Transaction</button>

@await Html.PartialAsync("_CreateTransactionModal", transactionModel)

<table class="table table-striped">
    <thead>
        <tr>
            <th>Transaction Date</th>
            <th>Capture Date</th>
            <th>Amount</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var transaction in Model)
        {
            <tr>
                <td>@transaction.transaction_date</td>
                <td>@transaction.capture_date</td>
                <td>@transaction.amount</td>
                <td>@transaction.description</td>
                <td>
                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#UpdateTransactionModal_@transaction.code">Edit Transaction</button>

                    <form action="@Url.Action("Delete", "Transactions", new { transactionCode = transaction.code })" method="post">
                        @Html.AntiForgeryToken()
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>

            @await Html.PartialAsync("_UpdateTransactionModal", transaction)
        }
    </tbody>
</table>


